name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build
        run: |
          npm ci
          npm run build
      - name: Get example (well formed) application
        run: |
          wget "https://raw.githubusercontent.com/w3f/Grants-Program/master/applications/AdMeta.md"
      - name: Test action
        uses: ./
        with:
          path: AdMeta.md